html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html { font-size: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
body, header, nav { background-color: #f8f8f8; }
img, embed, object, video { max-width: 100%; }

a { text-decoration: none; color: #968f66; }
a:hover { text-decoration: none; }

ul.clist { list-style-type: circle; margin-left: 2.5em; }
ul.clist ul { list-style-type: disc; margin-left: 2.5em; margin-bottom: 0; }

.clear { clear:both; }

.selfclear {clear:both;}

html.noscroll, html.noscroll body { overflow: hidden !important; height: 100% !important; }


/*--- Layout ---*/

main, footer { margin: 0 auto; }
header:after, main:after, footer:after, footer nav:after, #footerSections:after, #title:after { content: ' '; display: table; clear: both; }
main a {color: blue;}
main a:hover {text-decoration: underline;}
#top {max-width: 1250px; margin: 0 auto;}


/*--- Navigation ---*/

header { float: left; width: 100%; padding-top: 12px; z-index: 999;}
header h2 { text-align: left; font: 500 28px/34px 'franklin-gothic-urw', sans-serif; letter-spacing: 1px; color: #696969; padding: 0; text-transform: uppercase; margin-bottom: 5px; width: 300px; padding-left: 16px;}
header h2 span {font: 400 14px/16px 'franklin-gothic-urw', sans-serif; letter-spacing: 6.9px; display: block; text-transform: uppercase; }

#logo { display: block; padding: 7px 0 7px 18px; border-bottom: 1px solid rgba(150,150,150,0.2); }
#logo h2 { display: inline; padding-left: 30px; background: url(/global/elements/bear-claw.png) no-repeat 0 50%; background-size: 20px 27px; }

#bearclaws { display: none; }

label#grilled-cheese { position: absolute; top: 0; right: 0; width: 50px; height: 48px;  background-color: #e7e7e7;}
.bread { /*z-index: 3;*/position: absolute; top: 9px; left: 10px; width: 32px; height: 30px; 
	transition: transform .25s .2s;
}
.bread-top { /*z-index: 4;*/ }
.bread-bottom {  }
.crust { display: block; width: 20px; height: 2px; background-color: #666; position: absolute; left: 5px;
	transition: transform .25s;
}
.crust-top { top: 15px; transform: translateY(-4px); }
.crust-bottom { bottom: 15px; transform: translateY(4px); }

#grilled-cheese.open .crust-top, #grilled-cheese.open .crust-bottom { transform: none; }
#grilled-cheese.open .bread-top { transform: rotate(45deg); }
#grilled-cheese.open .bread-bottom { transform: rotate(-45deg); }

.navSection, #nav { display: none; }
#nav { clear: both;}
#navTop:after { display: table; content: ''; clear: both; }
#nav h3, .navSection { border-top: 1px solid #ccc; margin-bottom: 0; }
#nav .dropdown:first-child h3 { border: 0; }
#nav .search { border-bottom: 1px solid #ccc; }
#nav h3, #nav .search a { padding: 10px 16px; box-sizing: content-box; text-transform: uppercase; font: 300 15px/20px 'franklin-gothic-urw', sans-serif; letter-spacing: 0.2em;}
#nav .search h3 { padding: 0; }

#nav input, #navToggleMain { display: none; }


/** Header Mobile **/

@media screen and (max-width: 1023px) {
	label:hover { cursor: pointer; }
	#nav .directclick h3 { padding: 0; }
	#nav .dropclick h3 { float: left; padding: 0; }
	#nav .directclick h3 a, #nav .dropclick h3 a, #nav .more h3 { padding: 10px 16px; }
	#nav h3 a { display: block; }
	#nav .more { float: right; }
	#nav .dropclick:after { content: ' '; display: table; clear: both; }
	/*#nav .more label::after { color: #f0f0f0; padding: 10px 16px; font-size: 17px; content: '+'; float: right; }*/
	.navSectionToggle h3::after { font-size: 17px; content: '+'; float: right; }
	#nav h3.open::after { transform: rotate(45deg); }
	#top.open #nav, #nav.open, .navSection.open { display: block; }
	#header { position: -webkit-sticky; position: sticky; top: 0; padding-top: 0;}
		
	#top.open { z-index: 999; overflow: auto; height: 100%; width: 100%; background-color: rgba(0,0,0,0.8); position: absolute; left: 0; top: 0; }
	#top.open #header { border-bottom: 1px solid #ccc; }
	
	#headspace { height: 70px; }
	#header h2 span {display: none;}
	#header h2 {font: 500 20px/34px 'franklin-gothic-urw', sans-serif; color: #696969;}
}


/** Buttons **/

.button.gallery {background-color: #f2f2f2; font: 600 12px/14px 'franklin-gothic-urw', sans-serif; padding: 5px; border-radius: 8px; border: 1px solid #ddd; color: #999; display: inline-block; width: 40px;}
.button.gallery:hover {background-color: #ddd;}
.button.gallery a {color: #999; text-decoration: none; padding: 5px;}
.button.gallery a:hover {color: #f2f2f2; text-decoration: none;}
.button.gallery.inquire {width: 108px;}


/** Header Desktop **/

@media screen and (min-width: 1024px) {

	#top-inner {display: flex; justify-content: space-between;}

	header { width: auto; float: left; padding: 0 25px 0 38px; margin-top: 28px; }

	#logo { float: left; padding: 10px 0; border: 0; }
	#logo h2 { display: block; padding-left: 0; background: none; }

	#bearclaws { display: block; float: left; width: 28px; height: 51px; padding-right: 10px; margin-left: 0; background: url(/global/elements/bear-claws.png) no-repeat; background-size: 28px 51px; }

	#nav { display: block; background: none; clear: none; float: right; padding: 24px 0; margin-top: 20px; margin-right: 3%;}
	#nav .dropdown, #nav .directclick, #nav .search { float: left; }
	#nav a:hover { text-decoration: none; }

	#grilled-cheese, #nav div.more { display: none; }

	#nav h3, #nav .search, .navSection { border: 0; }
	#nav h3, #nav .directclick a { display: block; padding: 10px 12px 10px 12px; }
	#nav h3 a:hover { color: #666; }
	#nav h3:hover { cursor: pointer; }

	#nav .directclick h3 { padding: 0; }

	.navSection a { padding: 0 15px; display: block; line-height: 2.2em; min-width: 175px; }
	.navSection a:hover { background-color: rgba(180,180,180,0.5);}

	nav li { display: inline-block; float: left; }

	#nav .dropdown { position: relative; }
	#nav .dropdown:hover h3, #nav .dropdown:hover a { color: #666; }
	#nav .navSection { background-color: rgba(230,230,230,0.9); position: absolute; z-index: 999; margin-left: 20px;}
	#nav .dropdown:hover .navSection { display: block;}
	#nav .right .navSection { right: 0; text-align: right; margin-right: 20px;}
	#nav .navSection li { display: block; float: none; }

	#search-icon { display: block; background: url('/images/search-2x.png') no-repeat 50% 50%; background-size: 16px 15px; width: 16px; height: 15px; overflow: hidden; }
	#search-icon span { /*visibility: hidden;*/ display: none; }

	#nav h3 { letter-spacing: 0.15em;}
}



@media screen and (min-width: 1200px) {

	#nav h3, #nav .directclick a { display: block; padding: 10px 20px 10px 20px; }
	#nav h3 { letter-spacing: 0.2em;}

}


/*--- Page/Icon Navigation ---*/

@font-face {
	font-family: 'ElegantIcons';
	src:url('/global/fonts/ElegantIcons.eot');
	src:url('/global/fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'),
		url('/global/fonts/ElegantIcons.woff') format('woff'),
		url('/global/fonts/ElegantIcons.ttf') format('truetype'),
		url('/global/fonts/ElegantIcons.svg#ElegantIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}


#maincontent #prevnext a,
#maincontent #nextprev a { border: 0; color: #968f66; }
#maincontent #prevnext a:hover,
#maincontent #nextprev a:hover { background-color: rgba(150,143,102,0.3); }
#prevnext { padding-top: 10px; }
#prevnext .piped { line-height: 24px; }
#prevnext .piped li { display: inline-block; padding: 0 0.5em 0 0.75em; border-left: 1px solid #5c594c; }
#prevnext .piped li:first-of-type { border: 0; padding-left: 0; }
@media only screen and (max-width: 480px) {
	#prevnext .piped li:last-of-type { display: block; border: 0; padding: 14px 0 0; }
}
.portfolios #prevnext { clear: both; }
.portfolios #prevnext .piped { margin-bottom: 0; }
@media only screen and (min-width: 1024px) {
	.portfolios #prevnext { padding-top: 30px; }
}

.icon {  }
.icon:hover { text-decoration: none; }
.icon::before { font-family: 'ElegantIcons'; font-weight: normal; -webkit-font-smoothing: antialiased; }
.icon.up { padding-left: 25px; width: 18px; position: relative; }
.icon.up::before { color: #968f66; content: "\32"; font-size: 28px; line-height: 22px; position: absolute; top: 0; right: 0; }
.icon.info { padding-left: 25px; width: 18px; position: relative; }
.icon.info::before { color: #968f66; content: "p"; font-size: 17px; line-height: 22px; position: absolute; top: 0; right: 0; }


h1 { font: 300 26px/36px 'franklin-gothic-urw', sans-serif; margin-bottom: 40px; letter-spacing: 0.1em; color: #666; }
@media only screen and (min-width: 640px) {
	h1 { font-size: 30px; line-height: 38px; }
}
h2 { font: 300 24px/32px 'franklin-gothic-urw', sans-serif; margin-bottom: 40px; letter-spacing: 0.1em; text-transform: uppercase;} 
h3 { font: 300 16px/20px 'franklin-gothic-urw', sans-serif; margin-bottom: 8px; letter-spacing: 0.1em; text-transform: uppercase;}
h4 { font: 300 14px/18px 'franklin-gothic-urw', sans-serif; margin-bottom: 10px; letter-spacing: 0.1em; text-transform: uppercase;}
p, ul, dl, ol, td { font: 300 16px/30px 'franklin-gothic-urw', sans-serif; }
th, td { font: 400 14px/26px 'franklin-gothic-urw', sans-serif; }
p { margin-bottom: 30px; }
ul { margin-bottom: 30px; }

p { -webkit-hyphens: auto; -moz-hyphens: auto; -ms-hyphens: auto; hyphens: auto; }
#Artist #global-nav li a.Artist, #Photographs #global-nav li a.Photographs, #Inquiries #global-nav li a.Inquiries { font-weight: 700; color: #696969; }

#maincontent p a, #maincontent li a, figcaption a, #main div.content a { color: #5c594c; border-bottom: 3px solid rgba(128, 235, 255, 0.60); }
#maincontent p a:hover, #maincontent li a:hover, figcaption a:hover,  #main div.content a:hover { background-color: rgba(128, 235, 255, 0.40); text-decoration: none; }
#maincontent, .homecontent {color: #696969;}
#maincontent h4 { font-size: 22px; color: #000; }
#main a.more { border: 0; color: #968f66; text-transform: uppercase; font: 600 14px/18px 'franklin-gothic-urw', sans-serif;}
#main a.more hover { font: 800 14px/18px 'franklin-gothic-urw', sans-serif;}

#main figure.center { margin-bottom: 1.5em; }
#main figure.right { float: right; margin-left: 1.5em; }
#main figure.left { float: left; margin-right: 1.5em; }
#main figure.img { margin-bottom: 7px; margin-top: 8px; }

header ul { font: 400 13px/18px 'franklin-gothic-urw', sans-serif; }


/*--- Home Page ---*/

.innercontent {max-width: 800px; margin: 40px auto 70px;}
.homecontent {text-align: center; max-width: 920px; margin: 40px auto 70px;}
.homecontent img {margin-bottom: 24px; box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.35);}

@media only screen and (max-width: 799px) {
	.innercontent {margin: 40px auto 70px; padding: 0 3%;}
	.homecontent {margin: 0 auto 30px;}
	#footer {width: 96%; margin: 0 auto;}
	.homecontent img {border: none;}
	.homecontent h3 { font: 500 18px/22px 'franklin-gothic-urw', sans-serif; margin-bottom: 8px; }
	.homecontent h4 { font: 500 15px/18px 'franklin-gothic-urw', sans-serif; margin-bottom: 12px; }

}

/*--- Content ---*/

.button { width: 134px; margin-top: 20px; display: block; border: 2px solid #968f66; text-align: center; padding: 12px; }
.wrapper { /*width: 92%;*/ max-width: 1250px; margin: 0 auto; }
#main { clear: both; max-width: 1250px; margin: 0 auto 60px; padding: 40px 20px 0; }
#main:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

@media only screen and (max-width: 1023px) {
	#maincontent { padding-top: 47px; }
}

.screen-reader-text { display: none !important; }

.port-intro {width: 84%; margin: 0 auto 4em;}

.portgrid { margin: 0 auto; max-width: 564px; }
.port { float: left; width: 48%; padding-left: 1%; padding-right: 1%; margin-bottom: 30px;}
.portpic img { display: block; max-width: 256px; }

.portgrid h4 { margin-top: 1em; margin-bottom: .25em; }
.portgrid.solo h4 { margin-bottom: 30px; font-size: 18px; }
.portpic { overflow: hidden; max-height: 256px; }
.portpic img { -moz-transition: all 0.3s; -webkit-transition: all 0.3s; transition: all 0.3s; }
.portpic:hover img { -moz-transform: scale(1.07); -webkit-transform: scale(1.07); transform: scale(1.07); }


/* .oneColumn figure {width: 100%; margin: 40px auto 0; padding-bottom: 40px;} */


/*--- Photograph Page ---*/

.photo-details h2 {margin-bottom: 0.2em; margin-top: 6.0em; font: 300 22px/24px 'franklin-gothic-urw', sans-serif; text-transform: uppercase; letter-spacing: 0.1em;}
.photo-details p {margin-bottom: 0.5em; font: 300 14px/22px 'franklin-gothic-urw', sans-serif; letter-spacing: 0.1em; color: #666;}
.photo-details p.location { text-transform: uppercase; margin-bottom: 0.1em; }
.photo-details p.place { text-transform: uppercase; margin-bottom: 2.5em; }
.photo-details p.inquire { text-transform: uppercase; margin-bottom: 0;}
.photo-details .nav { margin-bottom: 2.5em; }

.sizing { position: relative; }
.sizing .photograph { position: absolute; top: 0; right: 0; opacity: 0; z-index: 3; }
.sizing .current { opacity: 1; z-index: 1; }

.photograph	{box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.35);}


/*--- Inspiration Page ---*/

.inspire .row {max-width: 1024px;}
.inspire h2 {margin-bottom: 0.2em; margin-top: 0; font: 300 22px/24px 'franklin-gothic-urw', sans-serif; text-transform: uppercase; letter-spacing: 0.1em;}
.inspire h3 {margin-top: 1.5em}
.inspire p {margin-bottom: 0.5em; font: 300 14px/22px 'franklin-gothic-urw', sans-serif; letter-spacing: 0.1em; color: #666;}
.inspire p.date {text-transform: uppercase; margin-bottom: 0.5em;}
.inspire p.attribution {text-align: left; margin-top: 0.5em; font-size: smaller; line-height: 1.4em;}
.inspire .photo-details {margin-top: 1em;} 


/*--- Writings Page ---*/

article h2 {margin-bottom: .5em;}


/*--- Purchase ---*/
.pricing {margin: 1.25em 0 2em;}
.pricing th {background: #f2f2f2; border-top: 1px dotted #c6c3ba;}
.pricing td, .pricing th { text-align: center; vertical-align: middle; height: 40px; padding: 0 3px; border-bottom: 1px dotted #c6c3ba; color: #666;}


/*--- Footer ---*/
footer { clear: both; max-width: 1250px; padding-top: 12px; border-top: 1px solid rgba(150,150,150,0.2); text-align: center;}
footer p { color: #999; font: 400 14px/20px 'franklin-gothic-urw', sans-serif;
	-webkit-hyphens: none; -moz-hyphens: none; -ms-hyphens: none; hyphens: none; }
footer p span { padding: 0 5px; }


/*--- Forms ---*/
input { background-color: #f3f3f3; border: 1px solid #eaeaea; border-radius: 3px; box-shadow: none; box-sizing: border-box; font-size: 1.0rem; height: 42px; padding: 0.5rem; width: 100%; }

/* DEBUG **********************/
/*
body, #featured-bg, footer { background-image: url(/global/elements/baseline.png); }
#subnav, #main article { background-color: rgba(255, 255, 255, 0.7); }
*/


#main h1 { text-align: center; padding: 0 20px; margin: 40px auto 60px; text-transform: uppercase;}

@media screen and (min-width: 768px) {
	#main h1 { padding: 0; }
}


.row { max-width: 1250px; margin: 0 auto; display: flex; flex-wrap: wrap; }
.p-main {flex: 67%; padding: 0 3% 0 0;}
.p-side {flex: 29%; display: flex; flex-direction: column;}
.p-side .photo-nav {order: 1; }
.p-side .photo-details {order: 2; }


.p-main .image-nav ul li {display: inline;}


.sizing { text-align: right;}

@media screen and (max-width: 700px) {
  .row { flex-direction: column; }
}


#thumbs { display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between;}
.thumb { position: relative; flex-basis: 100%; margin: 0 0 60px 24px;}
.thumb img { display: block; margin: 0 auto 12px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
}
.thumb p { width: 100%; position: absolute; bottom: 0; transform: translateY(100%); margin: 0; font-size: 14px; line-height: 18px; }
.thumb a { color: #666; }
.inner {margin: 0 auto;}


@media screen and (min-width: 415px) { .thumb { flex-basis: 50%; } }
@media screen and (min-width: 768px) { .thumb { flex-basis: 40%; } }
@media screen and (min-width: 1024px) { .thumb { flex-basis: 30%; } }




