<div id="top">
  <div id="top-inner">
    <header id="header">
      <input type="checkbox" id="navToggleMain">
      <label for="navToggleMain" id="grilled-cheese">
        <span class="bread bread-top"><span class="crust crust-top"></span></span>
        <span class="bread bread-bottom"><span class="crust crust-bottom"></span></span>
      </label>

      <a href="/" id="logo">
        <span id="bearclaws"></span>
        <h2>Douglas Vincent <span>Photographic Arts</span></h2>
      </a>
    </header>

    <nav id="nav">
      <div class="dropdown">
        <div class="dropclick">
          <div class="more">
            <input type="checkbox" class="navPortfolios" id="navTogglePortfolios">
            <label for="navTogglePortfolios" class="navSectionToggle navPortfolios"><h3></h3></label>
          </div>
          <h3><a href="/portfolios/">Portfolios</a></h3>
        </div>
        <ul class="navSection" id="navPortfolios">
         <li><a href="/portfolios/zion-national-park">Zion National Park</a></li>
          <li><a href="/portfolios/zion-national-park-autumn">Zion: Autumn (I)</a></li>
          <li><a href="/portfolios/zion-national-park-autumn-ii">Zion: Autumn (II)</a></li>
          <li><a href="/portfolios/zion-national-park-ancient-sands">Zion: Ancient Sands</a></li>
          <li><a href="/portfolios/zion-national-park-watercourse-way">Zion: Watercourse Way</a></li>
          <li><a href="/portfolios/icons-of-agriculture">Icons of Agriculture (I)</a></li>
          <li><a href="/portfolios/icons-of-agriculture-ii">Icons of Agriculture (II)</a></li>
          <li><a href="/portfolios/icons-of-agriculture-iii">Icons of Agriculture (III)</a></li>
          <li><a href="/portfolios/icons-of-agriculture-iv">Icons of Agriculture (IV)</a></li>
          <li><a href="/portfolios/cloud-light">Cloud Light</a></li>
          <li><a href="/portfolios/the-american-west">The American West (I)</a></li>
          <li><a href="/portfolios/the-american-west-ii">The American West (II)</a></li>
          <li><a href="/portfolios/polaroid-type-52">Polaroid Type 52</a></li>
        </ul>
      </div>

      <div class="dropdown">
        <div class="dropclick">
          <div class="more">
            <input type="checkbox" class="navCibachrome" id="navToggleCibachrome">
            <label for="navToggleCibachrome" class="navSectionToggle navCibachrome"><h3></h3></label>
          </div>
          <h3><a href="/cibachrome">Cibachrome</a></h3>
        </div>
        <ul class="navSection" id="navCibachrome">
          <li><a href="/cibachrome">Overview</a></li>
          <li><a href="/cibachrome/darkroom">Darkroom</a></li>
          <li><a href="/cibachrome/display-and-care">Display &amp; Care</a></li>
          <li><a href="/cibachrome/history">History</a></li>
        </ul>
      </div>

      <div class="dropdown">
        <div class="dropclick">
          <div class="more">
            <input type="checkbox" class="navPrintsBooks" id="navTogglePrintsBooks">
            <label for="navTogglePrintsBooks" class="navSectionToggle navPrintsBooks"><h3></h3></label>
          </div>
          <h3><a href="/prints-books">Prints &amp; Books</a></h3>
        </div>
        <ul class="navSection" id="navPrintsBooks">
          <li><a href="/prints-books">Overview</a></li>
          <li><a href="/prints-books/print-types">Print Types</a></li>
          <li><a href="/prints-books/framing-and-display">Framing and Display</a></li>
          <li><a href="/prints-books/care-and-conservation">Care and Conservation</a></li>
          <li><a href="/prints-books/purchase">Purchase Inquiry</a></li>
        </ul>
      </div>

      <div class="directclick">
        <h3><a href="/writings/">Writings</a></h3>
      </div>

      <div class="dropdown right">
        <div class="dropclick">
          <div class="more">
            <input type="checkbox" class="navAbout" id="navToggleAbout">
            <label for="navToggleAbout" class="navSectionToggle navAbout"><h3></h3></label>
          </div>
          <h3><a href="/about">About</a></h3>
        </div>
        <ul class="navSection" id="navAbout">
          <li><a href="/about">Statement</a></li>
          <li><a href="/about/my-story">My Story</a></li>
          <li><a href="/about/inspiration/">Inspiration</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>