<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{title}} - Douglas Vincent Photographic Arts</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="referrer" content="origin-when-cross-origin">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="keywords" content="Douglas Vincent, Photographic Art, Photography, Fine Art Photography, Pigment Ink Prints, Cibachrome, Ilfochrome, Portfolio">
  <meta name="author" content="Douglas Vincent | Photographic Arts">
  <meta http-equiv="Expires" content="30">
  <link rel="stylesheet" href="https://use.typekit.net/avc4wei.css">
  <link href="/css/style.css" rel="stylesheet" type="text/css" media="screen">
</head>
<body id="{{body-id}}">
  {{header}}

  <main id="main" class="section">
    <h1>{{title}}</h1>
    <div class="port-intro">
      {{intro}}
    </div>
    <div class="row">
      <div id="thumbs">
        {{thumbnails}}
      </div>
    </div>
  </main>

  {{footer}}

  <script src="/global/scripts/sizing.js"></script>
  <script src="/global/scripts/init.js"></script>
</body>
</html>
