<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="origin-when-cross-origin" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="keywords" content="Douglas Vincent, Photographic Art, Photography, Fine Art Photography, Pigment Ink Prints, Large Format Photography, Analog Photography, Film Photography, Film, Cibachrome, Ilfochrome" />
	<meta name="author" content="Douglas Vincent | Photographic Arts" />
	<meta http-equiv="Expires" content="30" />
	<link rel="stylesheet" href="https://use.typekit.net/avc4wei.css">
	<link href="/global/styles/base.css?v={{ now|date('n.j.y.G.i.s') }}" rel="stylesheet" type="text/css" media="screen" />
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-35445HFN2P"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'G-35445HFN2P');
	</script>
</head>
<body id="{% if title is defined %}{{ title }}{% endif %}">
	<div id="top">
		<div id="top-inner">
			<header id="header">
				<input type="checkbox" id="navToggleMain" />
				<label for="navToggleMain" id="grilled-cheese">
					<span class="bread bread-top">
						<span class="crust crust-top"></span>
					</span>
					<!--<span class="bread">
						<span class="crust crust-middle"></span>
					</span>-->
					<span class="bread bread-bottom">
						<span class="crust crust-bottom"></span>
					</span>
				</label>
	
				<a href="{{ siteUrl }}" id="logo">
					<span id="bearclaws"></span>
					<h2>Douglas Vincent <span>Photographic Arts</span></h2>
				</a>
			</header>
	
			{% set nav = craft.entries.section('mainNavigation').level(1).all() %}
	
			<nav id="nav">
			{% set navPos = 0 %}
			{% for item in nav %}
				{% set navPos = navPos + 1 %}
				{% set navLen = nav|length %}
			
				{% if item.hasDescendants() == true %}
					<div class="dropdown{% if navPos > (navLen / 2)|round %} right{% endif %}">
					{% if item.relatedEntry|length %}
						<p class="dropdown">Related <a href="{{ item.relatedEntry[0].url }}">{{ item.title }}</a></p>
					{% elseif item.directURL|length or item.type == 'singlePage' %}
						<div class="dropclick">
							<div class="more">
								<input type="checkbox" class="nav{{ item.title|replace({' ': ''}) }}" id="navToggle{{ item.title|replace({' ': ''}) }}" />
								<label for="navToggle{{ item.title|replace({' ': ''}) }}" class="navSectionToggle nav{{ item.title|replace({' ': ''}) }}"><h3></h3></label>
							</div>
							<h3><a href="{% if item.directURL|length %}{{ item.directURL }}{% else %}{{ item.url }}{% endif %}">{{ item.title }}</a></h3>
						</div>
					{% else %}
						<input type="checkbox" class="nav{{ item.title|replace({' ': ''}) }}" id="navToggle{{ item.title|replace({' ': ''}) }}" />
						<label for="navToggle{{ item.title|replace({' ': ''}) }}" class="navSectionToggle nav{{ item.title|replace({' ': ''}) }}"><h3>{{ item.title }}</h3></label>
					{% endif %}
				<ul class="navSection" id="nav{{ item.title|replace({' ': ''}) }}">
					{% set subnav = craft.entries.descendantOf(item.id).level(2).all() %}
					{% for subitem in subnav %}
						{% if subitem.type == 'categoryGroup' %}
					
							{# Create a category query with the 'group' parameter #}
							{% set myCategoryQuery = craft.categories().group(subitem.categoryGroupToUse) %}
						
							{# Fetch the categories #}
							{% set categories = myCategoryQuery.all() %}
						
							{% for cat in categories %}
								{% if cat.public %}
									<li><a href="{{ cat.url }}">{{ cat.title }}</a></li>
								{% endif %}
							{% endfor %}
							
						{% else %}
							{% if subitem.relatedEntry|length %}
								<li><a href="{{ subitem.relatedEntry[0].url }}">{{ subitem.title }}</a></li>
							{% elseif subitem.directURL|length %}
								<li><a href="{{ subitem.directURL }}">{{ subitem.title }}</a></li>
							{% elseif subitem.type == 'singlePage' %}
								<li><a href="{{ subitem.url }}">{{ subitem.title }}</a></li>
							{% else %}
								<li><span>{{ subitem.title }}</span></li>
							{% endif %}
			
						{% endif %}
					{% endfor %}
						</ul>
					</div>
				{% else %}
					<div class="directclick">
					{% if item.relatedEntry|length %}
						<h3><a href="{{ item.relatedEntry[0].url }}">{{ item.title }}</a></h3>
					{% elseif item.directURL|length %}
						<h3><a href="{{ item.directURL }}">{{ item.title }}</a></h3>
					{% elseif item.type == 'singlePage' %}
						<h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
					{% else %}
						<h3><span>{{ item.title }}</span></h3>
					{% endif %}
					</div>
				{% endif %}
			{% endfor %}
<!--
			<div class="search">
				<h3><a id="search-icon" href="/search/"><span>Search</span></a></h3>
			</div>
-->
			</nav>
		</div>
	</div>

	{% block content %}
		<main><p><code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> has not been set yet.</p></main>
	{% endblock %}


		<footer id="footer">
			<p>Copyright © 2010-{{ 'now'|date('Y') }} by Douglas Vincent : Photographic Arts</br>Permission must be <a href="/contact/">requested to use</a> any content from this site.</p>
			<p>Your <a href="/contact/">questions</a>, <a href="/contact/">comments</a>, or <a href="/contact/">inquiries</a> are always welcome.</p>
		</footer>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="/global/scripts/jquery.touchSwipe.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			noBurger = 1024;
			$('#navToggleMain').change(function() {
				win = $(window).width();
				if ($('#navToggleMain').prop("checked") == true) {
					if (win < noBurger) {
						$('html').addClass('noscroll');
						//$('#nav').addClass('open');
						$('#top').addClass('open');
						$('#grilled-cheese').addClass('open');
					} else {
						$('#navToggleMain').prop("checked", false);
					}
				}
				else if($('#navToggleMain').prop("checked") == false) {
					if (win < noBurger) {
						$('html').removeClass('noscroll');
						//$('#nav').removeClass('open');
						$('#top').removeClass('open');
						$('#grilled-cheese').removeClass('open');
					} else {
						$('#navToggleMain').prop("checked", true);
					}
				}
			});
	
			$('#nav input[type=checkbox]').change(function() {
				win = $(window).width();
				className = $(this).attr('class');
				if($(this).prop("checked") == true) {
					if (win < noBurger) {
						console.log("Checkbox is checked.");
						$('.'+className+' h3').addClass('open');
						$('#'+className).addClass('open');
					} else {
						console.log("Checkbox is unchecked.");
						$(this).prop("checked", false);
					}
				}
				else if($(this).prop("checked") == false) {
					if (win < noBurger) {
						console.log("Checkbox is unchecked.");
						$('.'+className+' h3').removeClass('open');
						$('#'+className).removeClass('open');
					} else {
						console.log("Checkbox is checked.");
						$(this).prop("checked", true);
					}
				}
			});
		});
	</script>

	<script src="/global/scripts/general.js"></script>
	<script src="/global/scripts/sizing.js"></script>
	<script src="/global/scripts/photo.js"></script>
</body>
</html>
